name: Checks (Unit Tests)
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25
      - name: Install dependencies
        run: go mod download
      - name: Run tests
        run: make tests-unit
      - name: Run load tests
        run: make tests-load
